.container{
    padding:50px 50px; 
    padding: 10px;
    border: 2px solid gray;
    margin: 5px 20%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
form{
    display:grid;
    font-size: 1rem;
    justify-content: center;
    height: 100%;
}
label{
    padding-top: 15px;
    font-weight: 800;
    padding-bottom: 10px;
}
input{
    margin-left: 15px;
    width: 300px;
    border-radius: 10px;
}
p{
    color: #313824;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
